.login-box{
  width: 486px;
  height:348px;
  background: #fff;
  position: fixed;
  left: 50%;
  top:50%;
  border-radius: 8px;
  margin:-175px 0 0 -242px;
  padding: 66px 58px 0 58px;
  z-index: 99999999999999 !important;
  .close-pop-btn{
    position: absolute;
    right: 20px;
    top:20px;
    width: 30px;
    height: 30px;
    background: url(../../images/close.svg);
    background-size: cover
  }
  .phone-box{
    width: 100%;
    height: 29px;
    line-height: 28px;
    font-size: 18px;
    background: #fff;
    border-bottom: 1px solid #959595;
    margin-bottom: 32px;
  }
  p{
    margin-bottom: 10px;
    color: #959595;
    font-size:12px;
  }
  input{
    font-size:24px;
  }
  .code-box{
    width: 100%;
    height: 29px;
    line-height: 28px;
    font-size: 18px;
    background: #fff;
    border-bottom: 1px solid #959595;
    margin-bottom: 42px;
    position: relative;
  }
  .login-btn{
    width: 174px;
    height: 56px;
      line-height: 56px;
  text-align: center;
    background: #2b67ff;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
  }
  .add-code{
    width: 130px;
    height: 38px;
    line-height: 38px;
  text-align: center;
    font-size: 14px;
    background: #2b67ff;
    border-radius: 8px;
    right: 0;
    top:-16px;
    position: absolute;
    color: #fff;
  }
  .add-code :hover{
    cursor:pointer
  }
}
.login-pop{
  display: none;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999999;
  background-color:rgba(0,0,0,0.8)
}
/*在chrome下移除input[number]的上下箭头*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
/*在firefox下移除input[number]的上下箭头*/
input[type="number"]{-moz-appearance:textfield;}
