@import "../../../../style/common";

.topic--item {
  width: 370px;
  height: 290px;
  border-radius: 8px;
  position: relative;
  background: #172742;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.active {
    background: #2b67ff;
  }

  &.active {
    .topic--icon {
      background: #2b67ff;
    }
  }
  /*.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }*/

  .topic--icon {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    border: 3px solid #0d1427;
    margin-left: -40px;
    top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #405b89;

  }
  .topic--item--title {
    font-size: 21px;
    margin-top: 50px;
  }
  .topic--item--content {
    font-size: 12px;
    margin-top: 20px;
    padding: 0 24px 10px 24px;
    line-height: 20px;
    //overflow-y: scroll;
    user-select: none;
  }
}