.swiper-slide img{
    display:block;
    width:100%;
    height: 100%
}
.focus{
    position:relative;
}
.focus .swiper-slide a{
    color:#fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    left:auto !important;
    right: 15px !important;
    text-align:right !important;
    color:#fff;
}
.swiper-pagination-current{
    font-size:30px;
    color:#f33;
}
.ceshi{
    width: 100px;
    height: 100px;
    background: red;
}