.ticket-box-felx{
  display: flex;
  flex-direction:  column;
  align-items: center;
}
.ticket-box{
   margin-bottom: 30px;
  .ticket-content{
    width:984px;
    height:294px;
    background: #fff;
    border-radius: 9px;
    display: flex;
    .ticket-content-left{
      padding: 38px 0 0 38px;
      width: 53%;
      height: 100%;
      color: #0d1472;
      .ticket-content-left-p{
        height: 12px;
        line-height: 1.5;
        font-size: 12px;
      }
      .content-left-title{
        font-size: 26px;
      }
      .content-left-showname{
        font-size: 14px;
      }
      .pople-name-box{
        margin-top: 32px;
      }
      .pople-name,.ticket-name{
        margin-right: 16px;
        font-weight: bold;
        margin-top: 8px;
        height: 14px;
        line-height: 1.5
      }
      .tiem-addr{
        margin-top: 28px;
        height: 14px;
        line-height: 14px;
        margin-bottom: 30px;
      }
      .ticket-time-icon{
        width: 14px;
        height: 14px;
        background: url(../../../images/time.png);
        background-size: cover;
        display: inline-block
      }
      .ticket-add-icon{
        width: 14px;
        height: 14px;
        margin-left: 24px;
        background: url(../../../images/dw.png);
        background-size: cover;
        display: inline-block
      }
      .logo-icon-zzs{
        width: 46px;
        height: 42px;
        background: url(../../../images/mp.png);
        background-size: cover;
      }
      .logo-content-box{
        display: flex;
        p{
          height: 50%;
          line-height: 150%;
        }
      }
    }
    .ticket-content-right{
      padding: 28px 38px 0 0;
      width: 46%;
      height: 100%;
      color: #101729;
      .code-font{
        font-size: 18px;
        padding-left: 64px;
        margin-top: 4px;
      }
      .ticket-content-right-title{
        font-weight: bold;
        margin:24px 0 16px 0;
        font-size: 12px;
      }
      .ticket-content-right-p{
        line-height: 1.7;
        font-size: 12px;
      }
      .er-code{
        width: 374px;
        height:78px;
        background: #333;
        background-size: cover;
        margin-top: 36px;
      }
    }
  }
  .ticket-box-bottom{
    width: 950px;
    height: 12px;
    display: flex;
    .ticket-bottom-left{
      width: 50%; 
      background: #265de7;
      border-radius: 0px 0 0 8px;
    }
    .ticket-bottom-right{
      border-radius: 0 0 8px 0;
      width: 50%;
      background: #00c1e1;
    }
  }
  .ticket-bottpm-positon{
    display: flex;
    width: 984px;
    justify-content:center;
  }
}

body{
  background: #0d1427
}
.fl{
  float: left
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}