.conference--topic {
  .topic--title {
    background: url(../../../images/topic-title.png) no-repeat center;
    width: 226px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    margin-bottom: 94px;
  }
}